.inner_container{
    max-width: 1290px;
    margin: 0 auto;

}
.outer_container{
    background-color: #f4f2ee;
    min-height: 100vh;
}

.login-container{
    max-width: 500px;
    margin:auto;
    margin-top: 100px;
    border: 1px solid #c1b7b7;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 4px 24px rgba(0, 0, 0, 0.12), 0 1.5px 6px rgba(0, 0, 0, 0.08);
}
.login-content{
    margin:20px
}